<div class="page-layout">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <mat-card class="form-card">
                <div class="card-header">
                    <p class="form-title text-center">SignUp</p>
                </div>
                <form [formGroup]="signUpForm" (ngSubmit)="signUpUser()">
                    <mat-form-field appearance="outline">
                        <img class="form-icon" matPrefix src="../../../assets/username.png" width="30" height="30">
                        <mat-label>Username</mat-label>
                        <input type="text" matInput formControlName="username" required>
                        <mat-error *ngIf="Username?.hasError('required')">
                            Please enter a valid username
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <img matPrefix class="form-icon" src="../../../assets/email.png" width="30" height="30">
                        <mat-label>Email</mat-label>
                        <input type="email" matInput formControlName="email" required>
                        <mat-error *ngIf="Email?.hasError('email') || Email?.hasError('pattern')">
                            Please enter a valid email id
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <img class="form-icon" matPrefix src="../../../assets/password.png" width="30" height="30">
                        <mat-label>Password</mat-label>
                        <input [type]="hidePassword?'password':'text'" matInput formControlName="password" required>
                        <button type="button" (click)="hidePassword=!hidePassword" matSuffix mat-icon-button>
                            <mat-icon class="material-icons-two-tone">
                                {{hidePassword?'visibility_off':'visibility'}}
                            </mat-icon>
                        </button>
                        <mat-error *ngIf="Password?.hasError('pattern')">
                            Your password must be at least 8 characters long, contain at least one number, one special
                            character and have
                            a mixture of uppercase and lowercase letters.
                        </mat-error>
                    </mat-form-field>
                    <button [disabled]="signUpForm.invalid" type="submit" mat-raised-button
                        class="btn btn-block mt-4 form-button mb-4">Submit</button>
                </form>
            </mat-card>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>