<div class="row" id="chat-page">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <div>
            <mat-toolbar class=" toolbar">
                <img [src]="myChatRoom.user_id.avatar" width="50" height="50" class="avatar-img" alt="">
                <p class="ml-4"><b>{{myChatRoom.user_id.username}}</b></p>
            </mat-toolbar>
        </div>
        <div>
            <app-message-list [messageList]="msgArray"></app-message-list>
        </div>
        <div>
            <form [formGroup]="msgForm" (ngSubmit)="sendMessage()">
                <div class="row">
                    <div class="col-10">
                        <mat-form-field appearance="outline">
                            <mat-label>Message</mat-label>
                            <input type="text" matInput formControlName="message">
                        </mat-form-field>
                    </div>
                    <div class="col-2 send-btn">
                        <button type="submit" class="toolbar" mat-icon-button>
                            <mat-icon>send</mat-icon>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-sm-4"></div>
</div>