<div class="d-flex flex-row">
    <div>
        <h2 mat-dialog-title>Create Post</h2>
    </div>
    <div class="ml-auto">
        <button mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>
<mat-dialog-content>
    <form [formGroup]="postForm" (ngSubmit)="postMedia()">
        <input type="file" style="display: none;" #selectImg name="post" accept="image/.jpg,image/.jpeg,image/.png"
            (change)="onChange($event)">
        <button type="button" (click)="selectImg.click()" mat-button>
            <img src="../../../../assets/image-icon.png" width="35" height="35" alt="">
            Select image
        </button>
        <input type="file" style="display: none;" #selectVid name="post" accept="video/*" (change)="onChange($event)">
        <button type="button" (click)="selectVid.click()" mat-button>
            <img src="../../../../assets/video.png" width="30" height="30" alt="">
            Select Video
        </button>
        <div *ngIf="isImage && imageUrl" class="mt-3">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Effects
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <button type="button" (click)="imageEffect()">Black & white</button>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        <img #myImg *ngIf="isImage && imageUrl" class="img-fluid" [src]="imageUrl" alt="post image">
        <video width="440" height="340" *ngIf="!isImage && imageUrl" controls>
            <source [src]="imageUrl">
        </video>
        <mat-form-field>
            <mat-label>Caption...</mat-label>
            <textarea matInput formControlName="caption" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"></textarea>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button (click)="postMedia()" [disabled]="postForm.invalid" mdbBtn type="submit" [block]="true" class="mb-3"
        gradient="purple" [rounded]="true" mdbWavesEffect>Post</button>
</mat-dialog-actions>