<mat-toolbar style="background-color: #8b00dd;">
    <img (click)="goToHome()" src="../../../assets/Raven-logo-1.png" width="130" height="50" alt="">
    <div class="ml-auto">
        <button mat-icon-button (click)="goToHome()">
            <mat-icon style="color: white;">home</mat-icon>
        </button>
        <button mat-icon-button (click)="goToNotification()">
            <mat-icon style="color: white;">notifications</mat-icon>
        </button>
        <button mat-icon-button class="mr-3" (click)="goToChat()">
            <mat-icon style="color: white;">chat</mat-icon>
        </button>
        <img [matMenuTriggerFor]="menu" class="avatar-img" [src]="avatarUrl | async" width="40" height="40" alt="">
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="goToMyProfile()">
                <img class="img-icon" src="../../../assets/username.png" width="30" height="30" alt="">
                My Profile</button>
            <button mat-menu-item>
                <img class="img-icon" src="../../../assets/dashboard.png" width="30" height="30" alt="">
                Dashboard</button>
            <button mat-menu-item (click)="goToEditProfile()">
                <img class="img-icon" src="../../../assets/edit profile.png" width="30" height="30" alt="">
                Edit Profile</button>
            <button mat-menu-item (click)="goToChangePassword()">
                <img class="img-icon" src="../../../assets/password-reset.png" width="30" height="30" alt="">
                Change Password</button>
            <button mat-menu-item (click)="signOut()">
                <img class="img-icon" src="../../../assets/signout.png" width="30" height="30" alt="">
                Logout</button>
        </mat-menu>
    </div>
</mat-toolbar>