<mat-card class="mb-3">
    <mat-card-header>
        <img [src]="commentSet.comment.user_id.avatar" mat-card-avatar alt="">
        <mat-card-title>{{commentSet.comment.user_id.username}}</mat-card-title>
        <mat-card-subtitle>{{commentSet.comment.createdAt | fromNow}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        {{commentSet.comment.text}}
    </mat-card-content>
    <mat-card-actions>
        <button class="mr-3" mat-icon-button (click)="likeComment()">
            <mat-icon class="icon-size mr-2" [ngStyle]="commentSet.comment.isMyLikedComment?{'color':'red'}:{}">
                {{commentSet.comment.isMyLikedComment?'favorite':'favorite_border'}}
            </mat-icon> Like
        </button>
        <a class="ml-3" (click)="addReply()">reply</a>
    </mat-card-actions>
</mat-card>
<div *ngIf="commentSet.replys">
    <mat-card class="ml-3 mb-3" *ngFor="let reply of commentSet.replys">
        <mat-card-header>
            <img [src]="reply.user_id.avatar" mat-card-avatar alt="">
            <mat-card-title>{{reply.user_id.username}}</mat-card-title>
            <mat-card-subtitle>{{reply.createdAt | fromNow}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            {{reply.text}}
        </mat-card-content>
        <mat-card-actions>
            <button class="mr-3" mat-icon-button (click)="likeReply(reply._id)">
                <mat-icon class="icon-size mr-2" [ngStyle]="reply.isMyLikedComment?{'color':'red'}:{}">
                    {{reply.isMyLikedComment?'favorite':'favorite_border'}}
                </mat-icon> Like
            </button>
            <a class="ml-3" (click)="addReply()">reply</a>
        </mat-card-actions>
    </mat-card>
</div>
<mat-card class="mb-3" *ngIf="replyAdded">
    <form [formGroup]="replyForm" (ngSubmit)="addReplyComment()">
        <mat-form-field>
            <textarea placeholder="write a reply.." matInput formControlName="text" required></textarea>
        </mat-form-field>
        <button [disabled]="replyForm.invalid" mat-raised-button color="warn">Post</button>
        <a (click)="cancelReply()">cancel</a>
    </form>
</mat-card>