// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
@import '~bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import '~ngx-toastr/toastr';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Raven-Client-primary: mat-palette($mat-indigo);
$Raven-Client-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$Raven-Client-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$Raven-Client-theme: mat-light-theme((color: (primary: $Raven-Client-primary,
      accent: $Raven-Client-accent,
      warn: $Raven-Client-warn,
    )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($Raven-Client-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-x: hidden;
}

.form-title {
  font-family: 'Lobster', cursive;
  font-size: 30px;
}

.card-header {
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  outline: none;
}

button {
  outline: none;
}

.page-layout {
  background-image: linear-gradient(to top, #b3ffab 0%, #12fff7 100%);
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  overflow-x: hidden;
}

.form-card {
  margin-top: 5rem;
}

mat-form-field {
  width: 100%;
  padding: 10px;
}

.form-icon {
  margin-right: 10px;
  margin-bottom: 15px;
}

.form-button {
  background-color: #8b00dd;
  color: white;
}

.avatar-img {
  border-radius: 50%;
}



@media(max-width:600px) {

  .form-card,
  .item-card {
    margin-left: 30px;
    margin-right: 30px;
  }
}
